
<nz-spin [(nzSpinning)]="isSpinning" [nzDelay]="100">

<div id="formbody" style="min-height:500px">
  <nz-input-group nzSearch  [nzSuffix]="suffixButton">
    <input type="text" nz-input placeholder="input search text" [(ngModel)]="keyword" (keyup)="($event.which === 13)?search():0"  >
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary"   nzSearch (click)="search()" >Search</button>
  </ng-template>

<div *ngIf="wordData != null && code != 500">
  <div class="infobox">
    <div style="clear:both"></div>
    <div class="keyword">

      <span class="py" *ngIf="code == 201; else elseTemplate">
        •
      </span>
      <ng-template  #elseTemplate>
        <span class="pg">
            •
        </span>
      </ng-template>
      {{wordData.word}}
      <nz-rate [ngModel]="starcount" [nzDisabled]="true" style="float:right"></nz-rate>


    </div>

    <div style="padding: 10px">
        <nz-tag *ngIf="getTag(wordData.rank,'CET4')" [nzColor]="'blue'">CET4</nz-tag>
        <nz-tag *ngIf="getTag(wordData.rank,'CET6')" [nzColor]="'green'">CET6</nz-tag>
        <nz-tag *ngIf="getTag(wordData.rank,'TEM4')" [nzColor]="'gold'">TEM4</nz-tag>
        <nz-tag *ngIf="getTag(wordData.rank,'TEM8')" [nzColor]="'volcano'">TEM8</nz-tag>  
    </div>


    <nz-divider nzText="音标" nzOrientation="left"></nz-divider>
    <div class="value">
        {{wordData.yinbiao}}
    </div>
    <nz-divider nzText="翻译" nzOrientation="left"></nz-divider>
    <div class="value">
        <!-- {{wordData.fanyi}} -->
        <p *ngFor="let fy of wordData.fanyi">{{fy}}</p>
    </div>
    <nz-divider nzText="词组" nzOrientation="left"></nz-divider>
    <div class="value divwordgroup">
        <!-- {{wordData.wordgroup}} -->
        <p *ngFor="let wg of displayWordgroup">{{wg.name}}<span class="wfanyi">{{wg.trans}}</span></p>

    </div>
    <a class="openclose" href="#" *ngIf="!isWordgroupOpen && WordgroupCount >=5" (click)="openWordgroup(1)">显示全部</a>
    <a class="openclose" href="#" *ngIf="isWordgroupOpen && WordgroupCount >=5" (click)="openWordgroup(0)">收起</a>

    <nz-divider nzText="例句" nzOrientation="left"></nz-divider>
    <div class="value divwordgroup">
        <!-- {{wordData.wordgroup}} -->
        <p *ngFor="let wg of displayExamplegroup">{{wg.example}}<span class="wfanyi">{{wg.memo}}</span></p>

    </div>
    <a class="openclose" href="javascript:void(0)" *ngIf="!isExamplegroupOpen && ExampleCount >=5" (click)="openExamplegroup(1)">显示全部</a>
    <a class="openclose" href="javascript:void(0)" *ngIf="isExamplegroupOpen && ExampleCount >=5" (click)="openExamplegroup(0)">收起</a>

  </div>

</div>
  <div *ngIf="wordData != null && code == 500 ">
      <p class="pr sxxx">
          未找到此单词
      </p>
  </div>

  

</div>

</nz-spin>