#formbody{
    padding: 20px;
    font-size: 1em;
}
.divsearchbox{
 position: fixed;
 left: 0;
 right:0;
 top:0;
 padding: 15px;
 background-color: white;
 z-index: 99
}

.sxxx{
    padding: 45px 10px 5px 10px ;
    text-align: center;
    
}
.infobox{
    
    padding: 40px 10px 5px 10px 
}
.keyword{
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 5px;
}
.pg{
    color:limegreen;
}
.py{
    color:gold;
}
.pr{
    color:tomato
}
.value{
    padding-left: 20px;
}
::ng-deep .ant-rate{
    font-size: 14px ;
}
.wfanyi{
    color: darkgrey;
    padding-left: 10px;
}
/* .divwordgroup{
    max-height: 260px;
    overflow: auto;
} */
.openclose{
    padding-left: 20px;
}